.let {
  color: #81a1c1; /* Nord9 */
  font-weight: bold;
}
.const {
  color: #a3be8c; /* Nord14 */
}
.sign {
  color: #5e81ac; /* Nord4 */
}
.sign2 {
  color: #4ff890; /* Nord4 */
}
.winnetou {
  color: #ebcb8b; /* Nord13 */
}
.method {
  color: #b48ead; /* Nord15 */
}
