<h1>WinnetouJs API Reference</h1>
<hr />
<p>Use menus in order to navigate through WinnetouJs API reference.</p>

<div class="linkBox">
  <h2>Starting your first Winnetou App</h2>
  <p>
    <a href="/docs/color-themes">Click here</a>
    to go to documentation and learn how to start your first project.
  </p>
</div>

<%-
include('../template/footer.ejs',{text:'Configuration',url:'/api/win-config-js'}) %>