<h1>Color Themes</h1>
<hr />

<h2>&DoubleContourIntegral; Purpose</h2>
<p>
  Changes app color theme and store it.
</p>

<h2>&DoubleContourIntegral; Syntax</h2>
<p><code>.newTheme(theme: Object)</code></p>

<div class="linkBox">
  <h2>Color Themes</h2>
  <p>
    <a href="/docs/color-themes">Click here</a>
    to go to documentation and learn more about color themes.
  </p>
</div>




<%-
include('../template/footer.ejs',{text:'WBR Compiler',url:'/api/wbr-compiler'}) %>