<h1>Configuration File</h1>
<hr />
<h2>&DoubleContourIntegral; Purpose</h2>
<p>Define all file locations of WinnetouJs project.</p>
<h2>&DoubleContourIntegral; Type</h2>
<p>js file</p>
<h3>File name</h3>
<p>win.config.js</p>
<h3>Location</h3>
<p>Root folder project</p>
<h2>&DoubleContourIntegral; Example</h2>
<div class="codeOutput">
  <span class="code-file-name">win.config.js</span>
  <pre>
<code class="onloadCode">
export default {
    constructosPath: "./constructos",
    constructosOut: "./js/constructos",
    entry: "./js/app.js",
    out: "./release",
    sass: [
        {
            entryFolder: "./sass",
            outFolder: "./release",
        },
    ],
    icons: "./icons",
    publicPath: '/',
    defaultLang: "en-us",
};
</code>
</pre>
</div>

<%- include('../template/footer.ejs',{text:'WinnetouJs Node Package',url:'/api/winnetoujs-package'}) %>
