<h1>Change Log</h1>

<h2>1.19.0-alpha.1</h2>
<ul>
  <li>Removed <code>code</code> from constructos retuning.</li>
  <li>Added <code>W</code> and <code>Win</code> as Winnetou import alias. </li>
  <li>Added <code>Mutations</code> to code base. </li>
  <li>Fixed multi select with commas.</li>
  <li>Fixed WinnetouFx arguments.</li>
  <li>Created XWin.</li>
  <li>Changed standalone to no-transpile.</li>
  <li>Added apps parameter in win.config.js.</li>
  <li>Deprecated entry and out in win.config.js.</li>
</ul>

<h2>1.18.16</h2>
<ul>
  <li>LTS</li>
</ul>

<h2>1.18.16-beta.8</h2>
<ul>
  <li>Added silent sass deprecations warning in --production </li>
</ul>

<h2>1.18.16-beta.7</h2>
<ul>
  <li>Added retro-compatibility with 1.17th constructo identifier</li>
</ul>

<h2>1.18.16-beta.6</h2>
<ul>
  <li>Fixed public path</li>
  <li>Improved errors log in --bundleRelease</li>
  <li>Added await in --bundleRelease</li>
  <li>Added normal chunk file name in dev mode</li>
</ul>


<h2>1.18.16-beta.4 (5)</h2>
<ul>
  <li>Fixed chunk file names</li>
  <li>Added clear output option in webpack</li>
</ul>

<h2>1.18.16-beta.2 (3)</h2>
<ul>
  <li>Fixed optional props error</li>
</ul>

<h2>1.18.16-beta.1</h2>
<ul>
  <li>Added alpha version 1 ~ 4</li>
</ul>

<h2>1.18.16-alpha.4</h2>
<ul>
  <li>Removed deprecated methods: lang, click and listen</li>
</ul>

<h2>1.18.16-alpha.3</h2>
<ul>
  <li>Added --scaffolding option in wbr.</li>
</ul>

<h2>1.18.16-alpha.2</h2>
<ul>
  <li>Generated css bundle from sass now has source map in dev mode.</li>
</ul>


<h2>1.18.16-alpha.1</h2>
<ul>
  <li>Added jsconfig.json in scaffolding in order to constructos can be imported just-in-time</li>
</ul>





<h2>1.18.15</h2>
<ul>
  <li>Fixed compilation errors output log in wbr</li>
</ul>



<h2>1.18.14</h2>
<ul>
  <li>Changed dev dependencies to prod</li>
</ul>


<h2>1.18.13</h2>
<ul>
  <li>Added 'Good Coding!' welcome message</li>
</ul>


<h2>1.18.12</h2>
<ul>
  <li>Updated WinnetouJs NPM homepage</li>
  <li>Updated winnetoujs dependencies</li>
</ul>



<h2>1.18.11</h2>
<ul>
  <li>Fixed minor errors</li>
</ul>


<h2>1.18.10</h2>
<ul>
  <li>Added sass multi bundles support</li>
</ul>



<h2>1.18.9</h2>
<ul>
  <li>Added --production wbr flag param</li>
  <li>Added --help wbr flag param</li>
</ul>

<h2>1.18.8</h2>
<ul>
  <li>Added watch in --bundleRelease</li>
  <li>Added --no-watch param</li>
  <li>Improved wbr log layout</li>
  <li>Fixed scaffolding interfaces.js</li>
</ul>



<h2>1.18.7</h2>
<ul>
  <li>Added draw warning in scss erros</li>
</ul>

<h2>1.18.6</h2>
<ul>
  <li>Watch changes in constructos folder</li>
</ul>

<h2>1.18.5</h2>
<ul>
  <li>Fixed scaffolding install log</li>
</ul>

<h2>1.18.4</h2>
<ul>
  <li>Added scaffolding.js in main folder post-install</li>
</ul>


<h2>1.18.3</h2>
<ul>
  <li>Scaffolding index starts with bundle</li>
</ul>

<h2>1.18.2</h2>
<ul>
  <li>Removed post-install log</li>
</ul>

<h2>1.18.1</h2>
<ul>
  <li>Fixed win.config.js in scaffolding</li>
  <li>Removed post-install log</li>
</ul>