<span class="category">Plugins</span>
<h1>Creating and Using Plugins</h1>

<p>
  WBR will also search for constructos in all node modules that start with "win-", therefore, all plugins published in NPM must start with the prefix "win-".

  That said, all you need to do is create your constructos, your functions and your sass, publish on npm and give guidance on what should be imported into the documentation.
</p>


<%- include('../template/footer.ejs',{text:'Slide Screen Plugin',url:'/docs/win-slidescreen'}) %>