<h1>Get In Touch</h1>

<h2>Pamela Sedrez</h2>
<i>Head</i>

<address>
  <a href="mailto:pamela@cedros.dev">pamela@cedros.dev</a>
  <br />

  Cedros Development Ltd
  <br />
  Av. Brig. Faria Lima 1811 e1119
  <br />
  São Paulo / SP
  <br />
  CEP 01452-001
  <br />
  Brazil
</address>
