<span class="category">Version 2</span>
<h1>What is new?</h1>

<p>
  WinnetouJs version 2 was released on January 2025 bringing a lot of new features and improvements. Here are some of the most important changes:
</p>
<ul>
  <li>
    <strong>win.config.json</strong> - We altered the way you configure your Constructos. Now you can use a JSON file to set up your WinnetouJs app.
  </li>
  <li>
    <strong>WinnetouJs Server</strong> - A new feature that allows you to create a server with WinnetouJs witch will serve Visual Studio Code Extension.
  </li>
  <li>
    <strong>XWin</strong> - A new bundler engine that will help you to bundle your Constructos and Plugins in a more efficient way.
  </li>
  <li>
    <strong>New visual identity</strong> - We have changed the logo and the color palette of WinnetouJs.
  </li>

</ul>

<p>
  With this changes we also bring new features and improvements to the Constructos, Mutables, Addons and Plugins. Check the <a href="/docs/change-log">Change Log</a> for more details.
</p>

<p>
  If you are migrating from version 1 to version 2, check the <a href="/docs/migration-guide-from-v1-to-v2">Migration Guide</a>.


  <%- include('../template/footer.ejs',{text:'Migration Guide',url:'/docs/migration-guide-from-v1-to-v2'}) %>