<div class="leftMenu">
  <div class="_title">API</div>
  <a href="/docs/get-started">Understanding WinnetouJs</a>
  <a href="/docs/setting-up">Setting Up</a>

  <div class="_title2">Constructos</div>
  <a href="/docs/creating-constructos">Creating Constructos</a>
  <a href="/docs/advanced-constructos-options">Advanced Options</a>
  <a href="/docs/lazy-loading">Lazy Loading</a>

  <div class="_title2">Mutables</div>
  <a href="/docs/mutables">Constructos State Management</a>
  <a href="/docs/winnetou-fx">Winnetou FX</a>

  <div class="_title2">Addons</div>
  <a href="/docs/select-methods">Winnetou Selectors</a>
  <a href="/docs/winnetou-router">Winnetou Router</a>
  <a href="/docs/winnetou-translations">App Translations</a>
  <a href="/docs/sass-transpiler">CSS Sass Built-in Transpiler</a>
  <a href="/docs/svg-icons">SVG Icons</a>
  <a href="/docs/color-themes">Color Themes</a>

  <div class="_title2">Extras</div>
  <a href="/docs/jsdoc">Useful JsDoc Syntax</a>

  <div class="_title2">Plugins</div>
  <a href="/docs/creating-plugins">Creating Plugins</a>
  <a href="/docs/win-slidescreen">SlideScreen Official Plugin</a>
  <a href="/docs/win-animate">Animate Official Plugin</a>

  <div class="_title2">Compiling to Production</div>
  <a href="/docs/wbr">WBR</a>





</div>