<div class="leftMenu">
  <div class="_title">Getting Started</div>
  <a href="/docs/get-started">Understanding WinnetouJs</a>
  <a href="/docs/setting-up">Setting Up</a>

  <div class="_title2">Constructos</div>
  <a href="/docs/creating-constructos">Creating Constructos</a>
  <a href="/docs/advanced-options">Advanced Options</a>

</div>