<div class="leftMenu">
  <div class="_title">API Reference</div>
  <a href="/api/win-config-js">Configuration File</a>
  <a href="/api/winnetoujs-package">Winnetoujs package</a>
  <a href="/api/constructos">Constructos</a>
  <a href="/api/mutables">Mutables</a>
  <a href="/api/app-state-management">State Management</a>
  <a href="/api/methods">Select Methods</a>
  <a href="/api/winnetoujs-fx">Winnetou Fx</a>
  <a href="/api/router">Router</a>
  <a href="/api/translations">Translations</a>
  <a href="/api/color-themes">Color Themes</a>


  <div class="bottom-menu">
    <a href="/docs">Docs</a>
    <a href="/docs/change-log">Change Log</a>
    <a href="https://github.com/cedrosdev/winnetoujs">Git Hub</a>
    <a href="/docs/contributing">Pull Requests Guidelines</a>
    <a href="/docs/get-in-touch">Get in touch</a>
  </div>
</div>