<div class="navbar">
  <div class="_left">
    <img src="/images/winnetoujs-official-logo-2024-framework-javascript-web-development.png">
    WinnetouJs
  </div>
  <div class="_right">
    <a class="" href="">Docs</a>
    <a class="" href="">API</a>
    <a class="" href="">GitHub</a>
    <a class="" href="">About</a>
    <a class="" href="">Get in touch</a>
  </div>
</div>
<div class="rainbow"></div>